<h2 *ngIf="parent_id=='null'" >{{title}}</h2>
<mat-accordion *ngFor="let child of childs">
    <mat-expansion-panel showToggle (opened)="openPanel(child._id)" *ngIf="!child.is_hidden" (closed)="destroyExpansion()" >
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h3 *ngIf="!child.edit_enabled" >{{child.name}}</h3>
            <div class="structTitleClass" *ngIf="child.edit_enabled" >
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Ex. Unit 1" [(ngModel)]="child.name" name="Name" value="{{child.name}}" (click)="$event.stopPropagation();" (keydown)="$event.stopPropagation();">
                    </mat-form-field>
                </form>
            </div>
        </mat-panel-title>
        <mat-panel-description>
            <div class="structCompClass">
                <h4 *ngIf="!child.edit_enabled" >Layer :  {{child.level_leaf}}</h4>
                <div *ngIf="child.edit_enabled" class="structCompClass">
                    <mat-form-field appearance="fill">
                        <mat-label>Level Layer</mat-label>
                        <mat-select (click)=" $event.stopPropagation();" [(ngModel)]="child.level_leaf" >
                        <mat-option *ngFor="let level of child.levels_allowed" [value]="level">
                            {{level}} 
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="L0Class" *ngIf="child.level_leaf=='L0'">
                <div class="structComp2Class">
                    <h4 *ngIf="!child.edit_enabled" >DataType :  {{child.dtype}}</h4>
                    <div *ngIf="child.edit_enabled" class="structCompClass">
                        <mat-form-field appearance="fill">
                            <mat-label>Data Type</mat-label>
                            <mat-select (click)="$event.stopPropagation();" [(ngModel)]="child.dtype" >
                            <mat-option *ngFor="let dtype of dtypes" [value]="dtype">
                                {{dtype}} 
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <h3 class="structComp3Class" *ngIf="!child.edit_enabled" >Low Limit : {{child.low_lim}}</h3>
                <div class="structComp2Class" *ngIf="child.edit_enabled" >
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                        <mat-label>Low Limit</mat-label>
                        <input matInput placeholder="Ex. 0.0" [(ngModel)]="child.low_lim" name="Low Limit" value="{{child.low_lim}}" (click)="$event.stopPropagation();" (keydown)="$event.stopPropagation();">
                        </mat-form-field>
                    </form>
                </div>
                <h3 class="structComp3Class" *ngIf="!child.edit_enabled" >High Limit : {{child.high_lim}}</h3>
                <div class="structComp2Class" *ngIf="child.edit_enabled" >
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                        <mat-label>High Limit</mat-label>
                        <input matInput placeholder="Ex. 100.0" [(ngModel)]="child.high_lim" name="High Limit" value="{{child.high_lim}}" (click)="$event.stopPropagation();" (keydown)="$event.stopPropagation();">
                        </mat-form-field>
                    </form>
                </div>
                <h3 class="structComp3Class" *ngIf="!child.edit_enabled" >Unit : {{child.unit}}</h3>
                <div class="structComp2Class" *ngIf="child.edit_enabled" >
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                        <mat-label>Unit</mat-label>
                        <input matInput placeholder="Ex. KSc" [(ngModel)]="child.unit" name="Unit" value="{{child.unit}}" (click)="$event.stopPropagation();" (keydown)="$event.stopPropagation();">
                        </mat-form-field>
                    </form>
                </div>
                <h3 class="structComp3Class" *ngIf="!child.edit_enabled && child.dtype=='dropdown'" >Slider Entries : {{child.slider_entries}}</h3>
                <div class="structComp2Class" *ngIf="child.edit_enabled && child.dtype=='dropdown'" >
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                        <mat-label>Slider Entries</mat-label>
                        <input matInput placeholder="Ex. A,B,C" [(ngModel)]="child.slider_entries" name="SliderEntries" value="{{child.slider_entries}}" (click)="$event.stopPropagation();" (keydown)="$event.stopPropagation();">
                        </mat-form-field>
                    </form>
                </div>
            </div>
            <button mat-raised-button color="accent" *ngIf="!child.edit_enabled" (click)="$event.stopPropagation(); editEnable(child)" >Edit</button>
            <button mat-raised-button color="accent" *ngIf="child.edit_enabled" (click)="$event.stopPropagation(); update(child)" >Update</button>
            <button mat-raised-button color="warn" (click)="$event.stopPropagation(); delete(child)">Delete</button>
            <button mat-raised-button *ngIf="child.level_leaf!='L0'" color="primary" (click)="$event.stopPropagation(); add(child)">Add Child</button>            
        </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <app-structure [parent_id]=child._id></app-structure>
    </ng-template>
    </mat-expansion-panel>
</mat-accordion>

