h2 {
    text-align: center;
    font-size: 28px;
    margin-top: 12px;
    margin-bottom: 24px;
    font-family: sans-serif;
    font-weight: 300;
}

.userClass{
    display: flex;
}

.customButton{
    margin-left: 1vw;
    margin-right: 1vw;
    height : 4vh;
}

.customInput{
    margin-right: 5vw;
}

.btnCont{
    justify-content: flex-end;
    display: flex;
}

.addButton{
    /* display: flex; */
    margin-right: 1vw;
    height: 5vh;
    /* justify-content: flex-end; */
}

.hiddenTextClass{
    visibility: hidden;
}
